# Ignoring config.json tests made during debugging
config.json

# Ignoring debug tests
filebuffer/*
!filebuffer/.gitkeep

# Ignoring Python Cache
__pycache__/
*.py[cod]
*$py.class

# Ignoring some system temporary files
.DS_Store
.directory